.NavigationItem {
    margin: 3px 0;
    box-sizing: border-box;
    display: block;
    width: 100%;
    transition: all 0.5s ease;
}

.NavigationItem a {
    color: rgb(28,41,86);
    padding: 16px;
    width: 100%;
    display: block;
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.NavigationItem a:active,
.NavigationItem a.active {
    background-color: rgb(178,32,40);
    color: white;
}

@media (min-width: 740px) {
    .NavigationItem {
        margin: 3px;
        height: 50%;
        width: auto;
        display: flex;
        align-items: center;
    }

    .NavigationItem a {
        height: 100%;
    }

    .NavigationItem a:hover{
        background-color: rgb(178,32,40);
        color: white;
        transform: scale(1.1) perspective(1px)
    }
}