.Link {
    width: 100%;
    color: rgb(28,41,86);
    transition: all 0.35s ease;
    text-decoration: none;
}

.Link:hover {
    /*border-bottom: 1px rgb(28,41,86);*/
    text-decoration: underline;
}


/*.Right {*/
/*    float: right;*/
/*}*/