.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.Container {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex: 1;
}

.Content {
  padding: 100px 0px 0px 0px;
  flex: 1;
  background-image: url("/background_1.png");
}
